<nav class="nav" style="margin-bottom: 1em">
  <form class="" action="/logout" method="post" style="width: 100%">
    <!-- CSRF TOKEN -->
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button class="btn btn-sm btn-primary float-right" type="submit">Logout</button>
  </form>
</nav>
<hr>
