<div style="
  display: flex;
  align-items: center;
  height: 90vh;
  justify-content: center"
>
  <div class="">
    <h1>404</h1>
    <h4>Page you are looking for doesn't exist</h4>
    Go to <a href="/tasks">your tasks</a>
  </div>
</div>
