<h1>Reset Password</h1>
<h2 style="color: red">[!] FOR TESTING PURPOSES ONLY, CHECK SERVER LOGS & AUTH CONTROLLER</h2>
{{>navigation}}
  <form class="" action="/reset" method="post">
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" name="email" placeholder="Enter email">
    </div>
    <!-- CSRF TOKEN -->
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit" name="button" class="btn btn-primary">Reset Password</button>
  </form>
